.list {
  grid-column: 2 / span 4;
  grid-row: 2;
}

.list ul {
  list-style-type: none;
}

.list__item {
  display: grid;
  grid-template-columns: 3rem auto 2.5rem 2.5rem;
  grid-template-rows: auto;
  height: 4em;
  align-items: center;
  color: #457B9D;
}

.list__item-name {
  grid-column: 2;
  grid-row: 1;
}

.list__item-icon_edit {
  grid-column: 3;
  grid-row: 1;
  height: 1.2em;
  width: 1.2em;
}

.list__item-icon_delete {
  grid-column: 4;
  grid-row: 1;
  height: 1.3em;
  width: 1.3em;
}
